.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 13px 0;

  & .logo {
    display: flex;
    align-items: center;
  }

  & .btn {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
